name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install required libs
      run: |
        sudo apt-get update # Always run update first
        sudo apt-get install -y libxkbcommon-dev
    - name: Check formatting
      run: cargo fmt --all -- --check
    - name: Check clippy
      run: cargo clippy --all-targets --all-features
    - name: Build all targets
      run: cargo build --verbose
    - name: Run unit tests
      run: cargo test --verbose
